.image_container
  = link_to 'https://localhost:3000/contacts/gmail' do
    = image_tag 'gmail_logo'

- if @contacts.present?
  %table
    %thead
      %tr
        %th= 'Name'
        %th= 'Email'
    %tbody
      - @contacts.each do |contact|
        %tr
          %td= contact[:name] if contact[:name].present?
          %td= contact[:emails][0][:email] if contact[:emails].present?
- else
  %p No contacts found
